-<web-app>

-<servlet>

<servlet-name>MyName</servlet-name>

<servlet-class>MyName</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>MyName</servlet-name>

<url-pattern>/MyName</url-pattern>

</servlet-mapping>


-<servlet>

<servlet-name>Counter</servlet-name>

<servlet-class>Counter</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>Counter</servlet-name>

<url-pattern>/Counter</url-pattern>

</servlet-mapping>


-<servlet>

<servlet-name>RequestRecv</servlet-name>

<servlet-class>RequestRecv</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>RequestRecv</servlet-name>

<url-pattern>/RequestRecv</url-pattern>

</servlet-mapping>


-<servlet>

<servlet-name>CurrentTime</servlet-name>

<jsp-file>/CurrentTime.jsp</jsp-file>

</servlet>


-<servlet-mapping>

<servlet-name>CurrentTime</servlet-name>

<url-pattern>/CurrentTime</url-pattern>

</servlet-mapping>


-<servlet>

<servlet-name>inputtest</servlet-name>

<jsp-file>/input.jsp</jsp-file>

</servlet>


-<servlet-mapping>

<servlet-name>inputtest</servlet-name>

<url-pattern>/inputtest</url-pattern>

</servlet-mapping>


-<servlet>

<servlet-name>registtest</servlet-name>

<servlet-class>RegistTestServlet</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>registtest</servlet-name>

<url-pattern>/registtest</url-pattern>

</servlet-mapping>


-<servlet>

<servlet-name>registresult</servlet-name>

<jsp-file>/registresult.jsp</jsp-file>

</servlet>


-<servlet-mapping>

<servlet-name>registresult</servlet-name>

<url-pattern>/registresult</url-pattern>

</servlet-mapping>

</web-app>
